/** @format */

.App {
  text-align: center;
  padding: 20px;
  font-family: serif;
  background: lightcoral;
}
.heading {
  font-style: italic;
  padding: inherit;
  background-color: antiquewhite;
}

.nail-extension-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nail-extension-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nail-extension-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
